@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap");
body {
  font-family: "DM Sans", sans-serif;
  margin: 0 auto;
  background: #000000;
  color: #333;
}

.range-slider {
  position: relative;
  display: block;
  height: 4px;
  width: 100%;
  background: rgba(59, 173, 227, 1);
  background: -moz-linear-gradient(
    45deg,
    rgba(59, 173, 227, 1) 0%,
    rgba(87, 111, 230, 1) 25%,
    rgba(152, 68, 183, 1) 51%,
    rgba(255, 53, 127, 1) 100%
  );
  background: -webkit-gradient(
    left bottom,
    right top,
    color-stop(0%, rgba(59, 173, 227, 1)),
    color-stop(25%, rgba(87, 111, 230, 1)),
    color-stop(51%, rgba(152, 68, 183, 1)),
    color-stop(100%, rgba(255, 53, 127, 1))
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(59, 173, 227, 1) 0%,
    rgba(87, 111, 230, 1) 25%,
    rgba(152, 68, 183, 1) 51%,
    rgba(255, 53, 127, 1) 100%
  );
  background: -o-linear-gradient(
    45deg,
    rgba(59, 173, 227, 1) 0%,
    rgba(87, 111, 230, 1) 25%,
    rgba(152, 68, 183, 1) 51%,
    rgba(255, 53, 127, 1) 100%
  );
  background: -ms-linear-gradient(
    45deg,
    rgba(59, 173, 227, 1) 0%,
    rgba(87, 111, 230, 1) 25%,
    rgba(152, 68, 183, 1) 51%,
    rgba(255, 53, 127, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(59, 173, 227, 1) 0%,
    rgba(87, 111, 230, 1) 25%,
    rgba(152, 68, 183, 1) 51%,
    rgba(255, 53, 127, 1) 100%
  );
  height: 2px;
}

.range-slider::before {
  content: "";
  background: linear-gradient(
    45deg,
    rgba(59, 173, 227, 1) 0%,
    rgba(87, 111, 230, 1) 25%,
    rgba(152, 68, 183, 1) 51%,
    rgba(255, 53, 127, 1) 100%
  );
  position: absolute;
  height: 10px;
  width: 100%;
  z-index: 2;
  filter: blur(20px);
}


.range-slider-thumb {
  display: block;
  border: 2px solid;
  border-radius: 100%;
  height: 17.5px;
  width: 17.5px;
  max-width: 80px;
  position: relative;
  bottom: 10px;
  background-color: #fff;
  cursor: grab;
  -webkit-transition: border 1000ms ease;
  transition: border 1000ms ease;
}

.range-slider-thumb-filter {
  display: block;
  border: 2px solid;
  border-radius: 100%;
  height: 17.5px;
  width: 17.5px;
  max-width: 80px;
  position: absolute;
  background-color: #fff;
  cursor: grab;
  -webkit-transition: border 1000ms ease;
  transition: border 1000ms ease;
}


.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid white;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: white transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bounce-bars{
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 13px;
  height: 13px;
}

.bounce-bars span {
  width: 3px;
  height: 100%;
  background-color: #1ed760;
  border-radius: 3px;
  content: '';
  animation: bounce 2.2s ease infinite alternate;
}

.bounce-bars span:nth-of-type(2) {
    animation-delay: -2.2s;
  }
.bounce-bars span:nth-of-type(3) {
    animation-delay: -3.7s;
  }


@keyframes bounce {
  10% {
    transform: scaleY(0.3);
  }

  30% {
    transform: scaleY(1);
  }

  60% {
    transform: scaleY(0.5);
  }

  80% {
    transform: scaleY(0.75);
  }

  100% {
    transform: scaleY(0.6);
  }
}